body {
    font-family: 'EB Garamond', serif;
}


.callout-container {

    height: 100vH;
    
    background: url("../images/P1040561.JPG") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}


.posts-container {

}

/*--------------------------------------------------------------------Page headers */

.page-header {

    margin-bottom: 0;
    border-bottom:0;
}

.page-header h3 {

    margin-top: 0;
}



/*--------------------------------------------------------------------Jumbotron */


.content-container {

    padding-top: 75px;
    padding-bottom: 120px;
}


/*--------------------------------------------------------------------Jumbotron */



.jumbotron-header {

    color: #fafafa;
    font-weight: bold;
    margin-bottom: 20px;


}

.jumbotron-header .lead {

    font-size: 1.25rem;
    font-weight: 600;
    color: #fafafa;

}


/*---------------------------------------------------------Special Paddings/margins/text */



.uppercase {

text-transform: uppercase;

}

.general-sub {

    font-family: 'EB Garamond', sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.text-left {

    display: text-left;
}




/*--------------------------------------------------------------------Posts */

.posts {

    text-align: center;
    margin-bottom: 40px;
}

/*--------------------------------------------------------------------Footer */

footer {

background-color: #39844bfa;
color: #fafafa;
min-height: 100px;
}



.social-links li a i {

width: 32px;
height: 32px;
padding: 12px; 0;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align: center;
color: #fafafa;
background: #343a40;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {

    background: #931d29

}

#footer-details {

    padding: 20px;
}